*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#07111f;
color:white;
overflow-x:hidden;
}

section{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
text-align:center;
}

.hero{
background:
linear-gradient(
180deg,
#07111f,
#0c1d35,
#132a49
);
}

.glass{
background:rgba(255,255,255,.08);
backdrop-filter:blur(10px);
padding:40px;
border-radius:25px;
width:min(90%,700px);
}

h1{
font-size:4rem;
margin-bottom:20px;
}

h2{
font-size:2rem;
margin-bottom:25px;
}

button{
padding:15px 30px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:1rem;
font-weight:600;
}

.hero button{
background:#4da6ff;
color:white;
margin-top:20px;
}

#daysTogether{
font-size:3rem;
font-weight:bold;
}

.gallery{
background:#09172a;
}

.photos{
display:flex;
gap:30px;
flex-wrap:wrap;
justify-content:center;
}

.card{
width:300px;
height:420px;
border-radius:20px;
overflow:hidden;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:100%;
object-fit:cover;
}

.letter{
background:#0c1d35;
}

.letter p{
max-width:800px;
line-height:2;
font-size:1.1rem;
}

.question{
background:#07111f;
}

.btns{
display:flex;
gap:20px;
}

.yes{
background:#4da6ff;
color:white;
}

#noBtn{
background:white;
color:black;
position:relative;
}

footer{
padding:25px;
text-align:center;
background:#030811;
}

.stars{
position:fixed;
width:100%;
height:100%;
pointer-events:none;
background:
radial-gradient(circle,#fff 1px,transparent 1px);
background-size:40px 40px;
opacity:.2;
}

.heart{
position:fixed;
font-size:20px;
animation:fall linear forwards;
}

@keyframes fall{
to{
transform:translateY(110vh);
}
}